.drop{
  margin-left: 40px;
  font-family: "Libertinus Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}
.home{
  margin-right: 40px;
  font-family: "Libertinus Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
    font-size: 20px;
}
.dis{
  margin-left: 40px;
  font-family: "Libertinus Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
    font-size: 20px;
}
.link{
  font-family: "Libertinus Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
    font-size: 20px;
}
.about{
  font-family: "Imperial Script", cursive;
  font-weight: 700;
  font-style: italic;
  margin-left: 40px;
}
.ser{
  border-radius: 40px;
}
.form{
  margin-right: 20px;
}
.row2{
     text-transform: uppercase;   
     margin-top: 200px;
}
.row2 h1{
  font-size: 74px;
  font-family: "Libertinus Sans", sans-serif;
  font-weight: bolder;
  font-style: italic;
  text-shadow: 2px 2px 4px grey;
}
.row2 h2{
    font-size: 34px;
    margin-top: -4px;
  font-family: "Libertinus Sans", sans-serif;
  font-weight: bolder;
  font-style: italic;
   text-shadow: 1px 1px 3px grey;
}
.row2 img{
  float: right;
  margin-top: -350px;
  margin-right: 150px;
  width: 400px;
  height: 450px;
  border-radius: 570px;
  border: 2px solid blue;
}
.row2 p{
  font-family: "Libertinus Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 25px;
  color: grey;
}
.row2 h3{
  font-size: 20px;
  font-family: "Libertinus Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-top: -15px;
}
.row3 h1{
  margin-top: 280px;
  text-align: center;
  font-size: 58px;
  margin-left: -90px;
  margin-right: -200px;
}
.row3 img{
  display: flex;
  margin-left: -40px;
}
.row3 img p{
  text-align: center;
}
.img1{
  margin-top: 130px;
  margin-left: 80px;
}
.img2{
  margin-top: -300px;
  margin-left: 470px;
}
.img3{
  margin-left: 870px;
  margin-top: -310px;
}
.row3 img:hover{
  box-shadow: 3px 3px 3px 3px gray;
  background: aliceblue;
  transition: 0.2s ease-in-out;
}
.l1{
}
.l2{
   margin-top: -300px;
   margin-left: 400px;
}